@model IEnumerable<Front_End.Entidades.Autores>

@{
    ViewBag.Title = "Listado autores";
}

<h2>Listado autores</h2>
<p>
    @Html.ActionLink("Crear nuevo", "Crear")
</p>
<br />
<table class="table tablaB dt-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiudadDeProcedencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CiudadDeProcedencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoElectronico)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Detalles", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


